#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.uid "0" }}
echo "Don't run as root!" >&2
exit 1
{{ end }}

{{- $supportedSystems := list
    "darwin/arm64"
    "linux/ubuntu/amd64"
    "linux/ubuntu/arm64"
    "linux/debian/amd64"
    "linux/debian/arm64"
-}}

{{- $currentSystem := "" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $currentSystem = printf "linux/%s/%s" .chezmoi.osRelease.id .chezmoi.arch -}}
{{- else -}}
  {{- $currentSystem = printf "%s/%s" .chezmoi.os .chezmoi.arch -}}
{{- end -}}

{{ if not (has $currentSystem $supportedSystems) }}
cat <<EOF >&2
Unsupported system: {{ $currentSystem }}

Supported systems:
{{- range $supportedSystems }}
  - {{ . }}
{{- end }}
EOF
exit 1
{{ end }}

{{ if eq $currentSystem "darwin/arm64" }}
if ! xcode-select -p &>/dev/null; then
    xcode-select --install
fi
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian")) }}
sudo apt-get update && apt-get install -y build-essential procps curl file git
{{ end }}
{{ end }}
