brew "fd"
brew "fzf"
brew "gcc"
brew "git"
brew "make"
brew "neovim"
brew "ripgrep"
brew "unzip"
brew "zsh"

# macOS specific
{{- if eq .chezmoi.os "darwin" }}
{{- end }}

# linux specific
{{- if eq .chezmoi.os "linux" }}
{{- end }}
