brew "bat"
brew "curl"
brew "fd"
brew "fzf"
brew "gcc"
brew "git"
brew "gnu-tar"
brew "gopls"
brew "make"
brew "neovim"
brew "ripgrep"
brew "tree-sitter-cli"
brew "unzip"
brew "zsh"

# macOS specific
{{- if eq .chezmoi.os "darwin" }}
{{- end }}

# linux specific
{{- if eq .chezmoi.os "linux" }}
{{- end }}
