- hosts: localhost
  gather_facts: true
  become: false

  tasks:
    - name: Install packages on macOS via Homebrew
      homebrew:
        name:
          - git
          - vim
          - neovim
          - fd
          - fzf
        state: present
      when: ansible_facts['os_family'] == 'Darwin'

    - name: Install packages on Debian/Ubuntu via apt
      become: true
      apt:
        name:
          - git
          - vim
          - neovim
          - fd-find   # apt package name for fd
          - fzf
        state: present
        update_cache: true
      when: ansible_facts['os_family'] == 'Debian'
